body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}

input[type="email"], input[type="password"], input[type="text"], input[type="number"] {
    width: 92%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
}

input[type="checkbox"] {
    margin-top: 5px;
}


button {
  font-size: 12px;
  font-family: sans-serif;
  cursor: pointer;
}

.brandBtn {
  background: linear-gradient(180deg, #896efd 0, #6b4afc 100%);
  height: 44px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #efeff1;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.brandBtn:hover {
  background: linear-gradient(180deg, #6b4afc 0, #563bca 100%);
}

.waitlistForm {
  box-shadow: 0 0 4px #e595ff, 0 0 48px rgba(130, 26, 250, 0.5);
  display: flex;
  flex-flow: row;
  place-content: center;
  align-items: center;
  padding: 4px;
  background-color: rgba(161, 138, 255, 0.24);
  border-radius: 12px;
  margin: 10px auto 24px;
  width: 204px;
}
